:root {
    --primary-color: rgb(218, 212, 212);
    --secondary-color: rgb(39, 39, 139);
    --tertiary-color: rgb(73, 70, 70);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/******** HEADER ***********/
header {
    padding: 15px 50px 15px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    align-items: center;
    z-index: 9999;
    background-color: var(--tertiary-color);
}

header h1 {
    padding: 0 10px 0 30px;
    font-weight: bold;
    font-size: 64px;
    margin: 0;
    background-color: var(--primary-color);
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header h1 a {
    color: var(--secondary-color);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

header nav ul li {
    border-bottom: solid var(--primary-color);
    margin: 5px;
}

header nav ul li a {
    padding: 10px;
    font-size: 24px;
}

header nav ul li:hover {
    border: none;
}

header nav ul li a:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 10px;
    text-shadow: none;
}

/************* Hero Style ******************/
.hero {
    height: 700px;
    width: 100%;
    background-image: url("../images/space.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-end;
}

.hero-cta {
    margin: 25px;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--primary-color);
}

.hero-cta p {
    font-size: 36px;
    font-weight: bold;
    color: var(--secondary-color);
}

/*************** About Me Styles **************/
.about {
    padding: 25px;
    background-color: var(--tertiary-color);
}

.bio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.profile-pic {
    width 35%;
    padding: 25px;
    background-color: var(--primary-color);
    border-radius: 25px;
    margin: 25px
}

.bio-text {
    width: 35%;
    padding: 25px;
    font-size: 35px;
    text-align: left;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border-radius: 15px;
    font-weight: bold;
    margin: 25px;
}

.bio-text p {

}

/*************** Portfolio Styles ******************/
.my-portfolio {
    padding: 25px;
}

.projects {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.project {
    flex: 1;
    margin: 20px;
    width: 30%;
}

.project-img  img{
    max-width: 100%;
    max-height: 100%;
}

/**************** General Page Styles **************/

.section-title {
    font-size: 36px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 25%;
    padding: 15px;
    font-weight: bold;
    background-color: var(--primary-color);
    border-radius: 15px;
    color: var(--secondary-color);
} 

.flex-row {
    display: flex;
    justify-content: center;
}

body {
    /* background-color: black; */
}