

/******** HEADER ***********/
header {
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    align-items: center;
    background-image: url("../images/space.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    padding: 0 20px;
    color: white;
    font-weight: bold;
    font-size: 72px;
    margin: 0;
}

header a {
    text-decoration: none;
    color: white;
}

header nav ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    list-style: none;
}

header nav ul li a {
    padding: 10px;
}

/************* Hero Style ******************/
.hero {
    height: 700px;
    width: 100%;
    background-image: url("../images/space.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

/*************** About Me Styles **************/
.about {
    display: flex;
    padding: 25px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

img{
    border: 10px solid white;
    width: 40%;
    margin: 3.5%;
}

.bio {
    background-color: white;
    border: 10px solid white;
    width: 40%;
    margin: 3.5%;
    text-align: center;
}

.bio-text {

}

.college-logo {
    width: 25%;
    text-align: center;
}

/*************** Portfolio Styles ******************/
.my-portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.project {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

/**************** General Page Styles **************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-title {
    font-size: 36px;
    text-align: center;
    width: 50%;
    margin: 0 auto 35px auto;
    padding-bottom: 20px;
}

.flex-row {
    display: flex;
}

body {
    /* background-color: black; */
}